google_integration_sheets.json
{
    "name": "Integration Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 1,
                "sheetId": "Respostas ao formulário 1",
                "__IMTCONN__": 0,
                "spreadsheetId": "/REDACTED_SPREADSHEET_ID",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Respostas ao formulário 1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (REDACTED_EMAIL)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Formulário de Orçamento  (respostas)"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Full Name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "What is your email? (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "What is your project budget? (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 283,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 0
                            },
                            "filter": {
                                "name": "Standard Customer",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`3`}}",
                                            "b": "5000",
                                            "o": "number:lessorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{now}}",
                                    "1": "{{1.`1`}}",
                                    "2": "{{1.`2`}}",
                                    "3": "{{1.`3`}}"
                                },
                                "sheetId": "Página1",
                                "spreadsheetId": "/REDACTED_SPREADSHEET_ID_LOW_BUDGET",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 620,
                                    "y": 143
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Página1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Banco de Leads - Baixo Orçamento"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Data (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Customer Name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Email (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Budget (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (REDACTED_EMAIL)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Data (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Customer Name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Email (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Budget (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://example.com/api/v1/prediction/REDACTED_FLOWISE_CHATFLOW_ID",
                                "method": "post",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "jsonStringBodyContent": "{\r\n    \"question\": \"Customer Name: {{1.`1`}} | Budget: {{1.`3`}}\"\r\n}",
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 524,
                                    "y": -155
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "jsonStringBodyContent",
                                        "type": "text",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 0
                            },
                            "mapper": {
                                "to": [
                                    "email@exemplo.com"
                                ],
                                "subject": "New Test {{1.`__ROW_NUMBER__`}}",
                                "bodyType": "rawHtml",
                                "content": "{{5.data.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 824,
                                    "y": -155
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection (REDACTED_EMAIL)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 0
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/REDACTED_SPREADSHEET_ID",
                                "sheetId": "Respostas ao formulário 1",
                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "values": {
                                    "4": "{{5.data.text}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1124,
                                    "y": -155
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (REDACTED_EMAIL)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Formulário de Orçamento  (respostas)"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Respostas ao formulário 1"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Timestamp (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Full Name (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "What is your email? (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "What is your project budget? (D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "AI Response (E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "(F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "(G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "(H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Timestamp (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Full Name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "What is your email? (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "What is your project budget? (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "AI Response (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}